{% extends "admin/base.html" %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Laporan Absensi</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Sidenav Light</li>
        </ol>

        <div class="card-header">
            <i class="fas fa-table me-1"></i>
         <div class="card mb-4">
        Table Absensi
        </div>
        <div class="card-body">
            <div class="dataTable-top">
                <div class="dataTable-dropdown"><label><select id="ruangan" onclick="RUANGAN()" class="dataTable-selector">

                    <option value="melati">Melati</option>
                    <option value="dahlia" selected="">Dahlia</option>
                    <option value="anggrek">Anggrek</option>
                    <option value="bougenvile">Bougenvile</option>
                    <option value="mawar">Mawar</option>
                </select> pilih ruangan</label>
                </div><div></div>
            </div>

                    {% for row in dataabsen %}
                    {% if row.2=='melati'%}
                    <div id="melati" style="display:none">
                        <table id="datatablesSimple">  
                        <thead>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td><img src="../../static/upload/{{ row.4 }}"width="100px" height="100px"></td>
                            <td>{{ row.5 }}</td>
                            {% if row.6=='tidak telat'%}
                            <td>{{ row.6 }}</td>
                            {% endif %}
                            {% if row.6=='telat'%}
                            <td style="background-color: red;">{{ row.6 }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    {% endif %}
                    {% if row.2=='dahlia'%}
                    <div id="dahlia" style="display:none">
                        <table id="datatablesSimple">  
                        <thead>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td><img src="../../static/upload/{{ row.4 }}"width="100px" height="100px"></td>
                            <td>{{ row.5 }}</td>
                            {% if row.6=='tidak telat'%}
                            <td>{{ row.6 }}</td>
                            {% endif %}
                            {% if row.6=='telat'%}
                            <td style="background-color: red;">{{ row.6 }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    {% endif %}
                    
                    {% if row.2=='anggrek'%}
                    <div id="anggrek" style="display:none">
                        <table id="datatablesSimple">  
                        <thead>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td><img src="../../static/upload/{{ row.4 }}"width="100px" height="100px"></td>
                            <td>{{ row.5 }}</td>
                            {% if row.6=='tidak telat'%}
                            <td>{{ row.6 }}</td>
                            {% endif %}
                            {% if row.6=='telat'%}
                            <td style="background-color: red;">{{ row.6 }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    {% endif %}
                    
                    {% if row.2=='bougenvile'%}
                    <div id="bougenvile" style="display:none">
                    <table id="datatablesSimple">  
                    <thead>
                        <tr>
                            <th>NIP</th>
                            <th>Nama</th>
                            <th>Ruangan</th>
                            <th>Lokasi</th>
                            <th>Foto</th>
                            <th>Waktu</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>NIP</th>
                            <th>Nama</th>
                            <th>Ruangan</th>
                            <th>Lokasi</th>
                            <th>Foto</th>
                            <th>Waktu</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                    
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td><img src="../../static/upload/{{ row.4 }}"width="100px" height="100px"></td>
                        <td>{{ row.5 }}</td>
                        {% if row.6=='tidak telat'%}
                        <td>{{ row.6 }}</td>
                        {% endif %}
                        {% if row.6=='telat'%}
                        <td style="background-color: red;">{{ row.6 }}</td>
                        {% endif %}
                    </tr>

                </tbody>
                </table>
                </div>
                    {% endif %}
                    
                    {% if row.2=='mawar'%}
                    <div id="mawar" style="display:none">
                        <table id="datatablesSimple">  
                        <thead>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                        <tr>
                            <td>{{ row.0 }}</td>
                            <td>{{ row.1 }}</td>
                            <td>{{ row.2 }}</td>
                            <td>{{ row.3 }}</td>
                            <td><img src="../../static/upload/{{ row.4 }}"width="100px" height="100px"></td>
                            <td>{{ row.5 }}</td>
                            {% if row.6=='tidak telat'%}
                            <td>{{ row.6 }}</td>
                            {% endif %}
                            {% if row.6=='telat'%}
                            <td style="background-color: red;">{{ row.6 }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    {% endif %}
                    {% else %}
                    <table id="datatablesSimple">  
                        <thead>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NIP</th>
                                <th>Nama</th>
                                <th>Ruangan</th>
                                <th>Lokasi</th>
                                <th>Foto</th>
                                <th>Waktu</th>
                                <th>Status</th>
                            </tr>
                        </tfoot>
                        <tbody>
                    <tr>
                        <td colspan="2">Tidak Ada Data. Silahkan Pilih ruangan lain</td>
                    </tr>
                    </tbody>
                    </table>
                    {% endfor %}
        
        </div>
    </div>
</main>
<script>
function RUANGAN(){

    let combo=document.getElementById("ruangan").value;
    var melati=document.getElementById("melati");
    var dahlia=document.getElementById("dahlia");
    var anggrek=document.getElementById("anggrek");
    var bugenvile=document.getElementById("bougenvile");
    var mawar=document.getElementById("mawar");
    
    if (combo =="melati"){
        melati.style.display="block"
        dahlia.style.display="none"
        anggrek.style.display="none"
        bugenvile.style.display="none"
        mawar.style.display="none"
    }
    else if (combo =="dahlia"){
        melati.style.display="none"
        dahlia.style.display="block"
        anggrek.style.display="none"
        bugenvile.style.display="none"
        mawar.style.display="none"
    }
    else if (combo =="anggrek"){
        melati.style.display="none"
        dahlia.style.display="none"
        anggrek.style.display="block"
        bugenvile.style.display="none"
        mawar.style.display="none"
    }

    else if (combo =="bougenvile"){

        melati.style.display="none"
        dahlia.style.display="none"
        anggrek.style.display="none"
        bugenvile.style.display="block"
        mawar.style.display="none"
    }else if (combo =="mawar"){
        melati.style.display="none"
        dahlia.style.display="none"
        anggrek.style.display="none"
        bugenvile.style.display="none"
        mawar.style.display="block"
    }
  }
</script>

{% endblock %}
