{% extends "dashboard/base.html" %}
{% block content %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">tambah data {{ init }}</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Tambah Data {{ init }} </li>
        </ol>
        
        <div class="row">
            <div class="card mb-4">
                <div class="card-body">
                {% if init == 'admin'%}
                    <form method="post" id="form-admin" action="#" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                        
                        <div class="wrap-input100 validate-input " data-validate="Please enter nip">
                            
                            <label>Nama</label><br>
                            <input class="input100" type="text"placeholder="masukan nama lengkap" name="nama" id="nama" ><br>

                            <label>Email</label><br>
                            <input class="input100" id="email" name="email" type="email"placeholder="masukan email" ><br>

                            <label>Jenis Kelamin</label><br>
                            <select id="gender" name="jk" class="input100" >
                                    <option class="input100" value="L" selected>Laki-Laki</option>
                                    <option class="input100" value="P">Perempuan</option>
                            </select><br>

                            <label>Tanggal Lahir</label><br>
                            <input class="input100" id="ttl" name="tgl_lahir" type="date"><br>

                            <label>Nomor Hp</label><br>
                            <input class="input100" id="no_hp" name="no_hp"placeholder="masukan no hp" type="number"><br>

                            <label>Alamat</label><br>
                            <textarea class="input100" id="alamat" name="alamat"placeholder="masukan alamat lengkap"></textarea><br>
                            
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="button" onclick="formsubmit('admin')">
                                    Simpan
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                {% if init == 'hrd'%}
                <form method="post" id="form-hrd" action="/add/hrd/" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                    <div class="wrap-input100 validate-input " data-validate="Please enter nip">
                        <label>Nama</label><br>
                        <input class="input100" type="text" name="nama" id="nama"placeholder="masukan nama lengkap" ><br>
                        
                        <label>Email</label><br>
                        <input class="input100" id="email" name="email" type="email" placeholder="masukan email"><br>
                        
                        <label>Jenis Kelamin</label><br>
                        <select id="gender" name="jk" class="input100">
                                <option class="input100" value="L" selected>Laki-Laki</option>
                                <option class="input100" value="P">Perempuan</option>       
                        </select><br>

                        <label>Tanggal Lahir</label><br>
                        <input class="input100" id="ttl" name="tgl_lahir" type="date"><br>

                        <label>Nomor Hp</label><br>
                        <input class="input100" id="no_hp" name="no_hp" type="number" placeholder="masukan no hp"><br>

                        <label>Alamat</label><br>
                        <textarea class="input100" id="alamat" name="alamat" placeholder="masukan alamat lengkap"></textarea><br>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="button" onclick="formsubmit('hrd')">
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% if init == 'karu'%}
                <form method="post" id="form-karu" action="/add/karu/" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                    <div class="wrap-input100 validate-input" data-validate="Please enter nip">
                        <label>Nama</label><br>
                        <input class="input100" type="text" name="nama" id="nama" placeholder="masukan nama lengkap"><br>
                        
                        <label>Email</label><br>
                        <input class="input100" id="email" name="email" type="email"placeholder="masukan email" ><br>
                        
                        <label>Pilih Penempatan:</label><br>
                        <select id="ruangan" name="ruangan" class="input100" >
                            {% for ruang in ruangan %}
                            <option class="input100" style="width: max-content;" value="{{ruang.1}}" >{{ ruang.1 }}</option>
                        {% endfor %}
                        </select><br>

                        <label>Jenis Kelamin</label><br>
                        <select id="gender" name="jk" class="input100" >
                                <option class="input100" value="L" selected>Laki-Laki</option>
                                <option class="input100" value="P">Perempuan</option>      
                        </select><br>

                        <label>Tanggal Lahir</label><br>
                        <input class="input100" id="ttl" name="tgl_lahir" type="date" ><br>
                        
                        <label>Nomor Hp</label><br>
                        <input class="input100" id="no_hp" name="no_hp" type="number" placeholder="masukan no hp"><br>
                        
                        <label>Alamat</label><br>
                        <textarea class="input100" id="alamat" name="alamat" placeholder="masukan alamat lengkap"></textarea><br>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="button" onclick="formsubmit('karu')">
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% if init == 'karyawan'%}
                <form method="post" id="form-karyawan" action="/add/karyawan/" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                    
                    <div class="wrap-input100 validate-input" data-validate="Please enter nip">
                        <label>Nama</label><br>
                        <input class="input100" type="text" name="nama" id="nama" placeholder="masukan nama lengkap"><br>
                        
                        <label>Email</label><br>
                        <input class="input100" id="email" name="email" type="email" placeholder="masukan email"><br>
                        
                        <label>Posisi</label><br>
                        <script>
                            var posisi = [];
                            var ruangan = [];</script>
                        <select  id="posisi" name="posisi" class="input100" >
                            <option class="input100" style="width: max-content;" >pilih posisi</option>
                            {% for pos in posisi %}
                            <script> 
                            dict = {id:"{{pos.0}}",nama : "{{pos.1}}",ids_ruangan : "{{pos.2}}"}
                            posisi.push(dict)</script>
                            <option class="input100" style="width: max-content;" value="{{pos.1}}" >{{pos.1}}</option>
                            {% endfor %}
                        </select><br>

                        <label>Pilih Ruangan :</label><br>
                        <select id="ruangan" name="ruangan" class="input100">
                            {% for ruang in ruangan %}
                            <script>
                                dict = {id:"{{ruang.0}}",nama : "{{ruang.1}}",ids_posisi : "{{ruang.2}}"}
                                ruangan.push(dict)</script>
                            <option class="input100" style="width: max-content;" id="ruangan{{ruang.0}}" value="{{ruang.1}}" >{{ ruang.1 }}</option>
                            {% endfor %}
                        </select><br>

                        <label>Jenis Kelamin</label><br>
                        <select id="gender" name="jk" class="input100" >
                                <option class="input100" value="L" selected>Laki-Laki</option>
                                <option class="input100" value="P">Perempuan</option>
                        </select><br>

                        <label>Tanggal Lahir</label><br>
                        <input class="input100" id="ttl" name="tgl_lahir" type="date" ><br>

                        <label>Nomor Hp</label><br>
                        <input class="input100" id="no_hp" name="no_hp" type="number" placeholder="masukan no hp" ><br>
                        
                        <label>Alamat</label><br>
                        <textarea class="input100" id="alamat" name="alamat" placeholder="masukan alamat lengkap"></textarea><br>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="button" onclick="formsubmit('karyawan')">
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
                {% if init == 'jadwal'%}
                <form method="post" action="#" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                    <center><label>Pilih Ruangan</label><br>
                    <label><select id="ruangan" class="input100">
                    {% for ruang in ruangan %}
                        
                    <option class="input100" style="width: max-content;" value="{{ruang.1}}" >{{ ruang.1 }}</option>

                    {% endfor %}

                    </select></label><br>
                    <label>Bulan</label><br>
                    <label><select id="bulan" class="input100">
                        {% for i in bulanindex %}
                        <option class="input100" value="{{i+1}}" >{{ bulan[i] }}</option>
                        {% endfor %}
                    </select></label><br>
                    <label>Tahun</label><br>
                    
					<div class="wrap-input100 validate-input" data-validate = "Please enter password">
						<input id="tahun" class="input100" type="number" name="tahun" placeholder="2023" value="2023">
						<span class="focus-input100"></span>
					</div><br>
                    </center>
                        
                        <div class="container-login100-form-btn">
                            <button type="button"id="btn-show-pegawai"  class="login100-form-btn">
                                Tampilkan Pegawai
                            </button>
                        </div>
                </form>
                {% endif %}
                {% if init == 'shift'%}
                <form method="post" id="form-shift" action="/add/shift/" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter nip">
                        <label>Nama shift</label><br>
                        <input class="input100" type="text" name="nama" id="nama"placeholder="masukan nama shift"  required><br>
                        
                        <label>jam berangkat</label><br>
                        <input class="input100" type="time" name="jam_berangkat" id="jam_berangkat" min="0" max="24" step=".01" placeholder="masukan jam kerja" required><br>

                        <label>jam pulang</label><br>
                        <input class="input100" type="time" name="jam_pulang" id="jam_pulang"min="0" max="24" step=".01" placeholder="masukan jam pulang" required ><br>

                        <label>jam kerja</label><br>
                        <input class="input100" type="time" name="jam_kerja" id="jam_kerja"min="0" max="24" step=".01" placeholder="masukan jam kerja" required ><br>

                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="button"  onclick="formsubmit('shift')">
                                Simpan
                            </button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
            </div>
        </div>
    </div>
    <div class="data">
        <p id="output"></p>
        </div>
        
        {% if init == 'jadwal'%}
        <h4 class="text-center">TABLE PEGAWAI & SHIFT</h4>

        <div class="table-responsive mb-4" id="container-table"></div>
        <table id="myTable"></table>
        {% endif %}
</main>

{% endblock %}
{% block footer %}
<!-- BEGIN VENDOR JS-->
<script src="../../static/app-assets/vendors/js/jquery-ui.min.js"></script>
<script src="../../static/app-assets/vendors/js/core/popper.min.js"></script>
<script src="../../static/app-assets/vendors/js/core/bootstrap.min.js"></script>
<script src="../../static/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
<script src="../../static/app-assets/vendors/js/prism.min.js"></script>
<script src="../../static/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
<script src="../../static/app-assets/vendors/js/screenfull.min.js"></script>
<script src="../../static/app-assets/vendors/js/pace/pace.min.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN CONVEX JS-->
<script src="../../static/app-assets/js/app-sidebar.js"></script>
<script src="../../static/app-assets/js/notification-sidebar.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/datatables.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/dataTables.buttons.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/buttons.flash.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/buttons.html5.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/buttons.print.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/jszip.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/pdfmake.min.js"></script>
<script src="../../static/app-assets/vendors/js/datatable/vfs_fonts.js"></script>
   
<script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

<script src="../../static/vendor/select2/select2.min.js"></script>
    <script>
        $(document).ready(function () {
    $.noConflict();

        function initDatatable() {
                $("#datatable").DataTable({
                    paging: false,
                    ordering: false,
                    language:{
                        search: 'Pencarian Nama',
                        searchPlaceholder: 'Masukan nama..',
                    },
                });
                
            }
        });
        function cekposisi(){
            var pilih_posisi = $("#posisi").val()-1
            var pilih = ""
            var list_ruang = ""
            console.log(pilih_posisi)
            list_ruang = posisi[pilih_posisi]["ids_ruangan"]
            console.log(list_ruang)
            list_ruang = list_ruang.split(",")
            console.log(list_ruang)
            console.log(list_ruang[0])
            for (var j in ruangan){
                for (var z in list_ruang){
                    console.log(list_ruang[z])
                    console.log(ruangan[j]["id"])
                    if (ruangan[j]["id"] = list_ruang[z] ){
                        console.log("tampilkan #ruangan"+list_ruang[z])
                        $("#ruangan"+list_ruang[z]).show()
                    }
                    else{
                        console.log("hilangkan #ruangan"+list_ruang[z])
                        $("#ruangan"+list_ruang[z]).hide();
                    }
                }
            }
        
        }
        function createTable(callback) {
                statusBtnShowPegawai(true);
                var container = $("#container-table");
                container.html("");
                ///////////////////
                var table = '<table id="datatable" class="table table-bordered table-stripped table-consended table-absensi table-sm">';
                table += '<thead class="text-white" id="thead-table"></thead>';
                table += '<tbody id="table-pegawai"></tbody>';
                table += '</table>';
                container.html(table);
                setTimeout(() => {
                    callback();
                   
                }, 700);
            }
        
            function statusBtnShowPegawai(status = false) {
                var btnShowPegawai = $('#btn-show-pegawai');
                if (status) {
                    var icon = '<i class="fa fa-spin fa-spinner mr-1"></i>';
                    var text = 'Tunggu sebentar...';
                    btnShowPegawai.html(icon + text);
                    btnShowPegawai.attr('disabled','disabled');
                } else {
                    var icon = '<i class="fa fa-search mr-1"></i>';
                    var text = 'Tampilkan Pegawai';
                    btnShowPegawai.html(icon + text);
                    btnShowPegawai.removeAttr('disabled');
                }
            }
            function initSetSelectJadwal(dataJadwalAll) {
                setTimeout(function() {
                    for (var i in dataJadwalAll) {
                        var dataJadwal = dataJadwalAll[i];
                        for (var x in dataJadwal) {
                            console.log(dataJadwal[x].id)
                            $(dataJadwal[x].id).val(dataJadwal[x].value);
                        }
                    }
                }, 500);
            }
            
            function showPegawaiByRuang(ruangan,bulan,tahun) {
                var url = "/update/"+ruangan+"/"+bulan+"/"+tahun;
                var formData = {
                    ruang_id: ruangan,
                    bulan: bulan,
                    tahun: tahun
                };
                axios.post(url, formData)
                    .then(function(response) {
                        console.log(response);
                        var data = response.data;
                        console.log(data);
                        var dataPegawai = data.data_pegawai;
                        console.log(dataPegawai);
                        var dataJadwal = data.data_jadwal;
                        console.log(dataJadwal);
                        console.log(dataPegawai.length)
                        for (var i in dataPegawai) {
                            tambahBaris(dataPegawai[i], bulan, tahun);
                            if (i >= parseInt(dataPegawai.length - 1)) {
                                initSetSelectJadwal(dataJadwal);
                                statusBtnShowPegawai(false);
                                initDatatable();
                            }
                        }
                    })
                    .catch(function(error) {
                        statusBtnShowPegawai(false);
                        toastr.error(error);
                    });
            }

            function tambahBaris(data, bulan, tahun) {
                console.log(data,data.nip,tahun,bulan,data.posisi)
                if (!$("#baris" + data.nip).length) {
                    generateRow(data.nip, data.nama, bulan, tahun,data.posisi);
                }
            }
            function checkSunday(hari, bulan, tahun) {
                var date = new Date(tahun + '-' + bulan + '-' + hari);
                if (parseInt(date.getDay()) == 0) {
                    return true;
                }
                return false;
            }
            function getNamaHari(hari, bulan, tahun) {
                var date = new Date(tahun + '-' + bulan + '-' + hari);
                var day = parseInt(date.getDay());
                switch(day) {
                    case 0: return "Minggu";
                    case 1: return "Senin";
                    case 2: return "Selasa";
                    case 3: return "Rabu";
                    case 4: return "Kamis";
                    case 5: return "Jumat";
                    case 6: return "Sabtu";
                    default: return "undefined";
                }
            }
            function headerTable(bulan, tahun) {
                if (bulan !== "" && tahun !== "") {
                    var jumlahHari = parseInt(new Date(tahun, bulan, 0).getDate());
                    var html = '<tr><th class="bg-info text-center">INFO<br>PEGAWAI</th>';
                    for (var hari = 1; hari <= jumlahHari; hari++) {
                        var namaHari = getNamaHari(hari, bulan, tahun) + '<br>' + hari;
                        if (checkSunday(hari, bulan, tahun)) {
                            html += '<th class="bg-danger text-center">' + namaHari + '</th>';
                        } else {
                            html += '<th class="bg-primary text-center">' + namaHari + '</th>';
                        }
                    }
                    $('#thead-table').html(html);
                } else {
                    $('#thead-table').html("");
                }
            }

            function generateIdSelect(hari, bulan, tahun, nip) {
                const zeroPad = (num, places) => String(num).padStart(places, '0');
                console.log(zeroPad(hari, 2)); // "05"
                hari=zeroPad(hari, 2);
                bulan=zeroPad(bulan, 2);
                var elementId = [hari, bulan, tahun, nip];
                return 'shift-' + elementId.join('-');
            }

            function generateRow(nip, nama, bulan, tahun,posisi) {
                console.log(nip,nama,bulan,tahun)
                console.log(posisi)
                var html = '<tr><td>' + nama + '<br>' + nip + '<br>' + posisi + '</td>';
                var jumlahHari = parseInt(new Date(tahun, bulan, 0).getDate());
                console.log(jumlahHari)
                for (var hari = 1; hari <= jumlahHari; hari++) {
                    var idSelect = generateIdSelect(hari,bulan,tahun,nip);
                    if (checkSunday(hari, bulan, tahun)) {
                        html += '<td class="table-danger">';
                    } else {
                        html += '<td>';
                    }
                    html += '<select id="' + idSelect +'" class="form-control form-control-sm" onchange="updateOrInsertData(\''+nip+'\',\''+hari+'\',\''+idSelect+'\')">';
                    html += '<option value="0">Libur/Cuti/Kosong</option>';
                    if (posisi == "Security"){
                        const fruits = ["Pagi","Siang", "Malam"];
                        fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    else if (posisi == "Perawat"){
                        const fruits = ["Pagi", "Middle 1 (9-16)","Siang", "Malam"];
                        console.log(fruits)
                        fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    else if (posisi == "Dokter Umum"){
                        const fruits = ["Pagi","Siang","Malam"];
                        fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    else if (posisi == "Dokter Spesialis"){
                        const fruits = ["Pagi"];
                        fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    else if (posisi == "Staff Pendaftaran"){
                        const fruits = ["Pagi","Siang", "Malam"];
                        fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    else if (posisi == "Programer"){
                        const fruits = ["Pagi","Middle 1 (9-16)","Siang"];
                        fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    else{
                    const fruits = ["Pagi", "Middle 1 (9-16)","Siang", "Malam","Middle 2 (10-17)","Middle 3 (11-18)"];
                    fruits.forEach(function myFunction(item, index, arr) {
                        var index= index+1;
                        html += '<option value="'+index+'">'+item+'</option>'
                        } );
                    }
                    
                    html += '</select>';
                    html += '</td>';
                }
                html += '</tr>';
                console.log(html)
                $("#table-pegawai").append($(html));
            }

            function alertWarning(message = "") {
                Swal.fire({
                    icon: 'warning',
                    title: 'Peringatan!',
                    text: message
                });
            }
            $(function() {
                $("#ruang").select2({width:'100%'});
                $("#menu-jadwal-absensi").addClass("active");
                $("#btn-show-pegawai").click(function() {
                    $('#container-table').html("");
                    /////////////////////////////
                    var ruang = $('#ruangan').val();
                    var bulan = $('#bulan').val();
                    var tahun = $('#tahun').val();
                    if (ruang == "") {
                        alertWarning('Silahkan pilih ruangan.');
                    } else if (bulan == "") {
                        alertWarning('Silahkan pilih bulan.');
                    } else if (tahun == "") {
                        alertWarning('Silahkan masukan tahun.');
                    } else if (tahun.length != 4) {
                        alertWarning('Silahkan masukan tahun dengan benar.');
                    } else {
                        createTable(() => {
                            headerTable(bulan,tahun);
                            showPegawaiByRuang(ruang,bulan,tahun);
                        });
                    }
                });
            });
        //     function update(){
        //     var ruangan = $('#ruangan').val();
        //     var bulan = $('#bulan').val();
        //     var tahun = $('#tahun').val();
        //     console.log(tahun)
        //     $.get("/update/"+ruangan+"/"+bulan+"/"+tahun, function(data){
        //         $("#output").html(data);
        //     console.log(data);
        //     var data = data;
        //     console.log(data);
        //     var datiaPegawai = data.data_pegawai;
        //     console.log(dataPegawai);
        //     var dataJadwal = data.data_jadwal;
        //     console.log(dataJadwal);
        //     console.log(dataPegawai.length)
        //     for (var i in dataPegawai) {
        //         console.log("jln")
        //         console.log(dataPegawai[i])
        //         tambahBaris(dataPegawai[i], bulan, tahun);
        //         console.log(tambahBaris(dataPegawai[i], bulan, tahun));
        //             if (i >= parseInt(dataPegawai.length - 1)) {
        //                 initSetSelectJadwal(dataJadwal);
        //                 statusBtnShowPegawai(false);
        //                 initDatatable();
        //             }
        //         }
        //     });
        // }
        function updateOrInsertData(nip, hari, element) {
                var selectShift = $("#" + element);
                console.log(selectShift,nip,hari)
                var url = "/updateOrInsertJadwal";
                var shiftId = selectShift.val();
                console.log(shiftId)
                var formData = {
                    nip: nip,
                    hari: hari,
                    shift_id: shiftId,
                    bulan: $('#bulan').val(),
                    tahun: $('#tahun').val(),
                    ruangan: $('#ruangan').val()
                };
                console.log(formData)
                selectShift.attr('disabled', 'disabled');
                axios.post(url, formData)
                    .then(function(response) {
                        console.log(response)
                        let data = response.data.data;
                        let meta = response.data.meta;
                        toastr.success(meta.message);
                        selectShift.removeAttr('disabled');
                    })
                    .catch(function(error) {
                        toastr.error('Gagal simpan data!');
                        selectShift.removeAttr('disabled');
                    });
            }
            function validatePhoneNumber(input_str) {
                var jml = input_str.toString().length;
                var re = /\+?([ -]?\d+)+|\(\d+\)([ -]\d+)/g;
                if (jml>=10 && jml <=13){
                    return re.test(input_str);
                }
                else{
                    return false;
                }
            }
            function validate(element){
                var selectform = $("#form-" + element);
                var nama = selectform.find('#nama').val();
                var email = selectform.find("#email").val();
                var jk = selectform.find("#gender").val();
                var tgl_lahir = selectform.find("#ttl").val();
                var ruangan = selectform.find("#ruangan").val();
                var posisi = selectform.find("#posisi").val();
                var no_hp = selectform.find("#no_hp").val();
                var jam_berangkat = selectform.find("#jam_berangkat").val();
                var jam_pulang = selectform.find("#jam_pulang").val();
                var jam_kerja = selectform.find("#jam_kerja").val();
                var alamat = selectform.find("#alamat").val()
                var dob = new Date(tgl_lahir);   
                var month_diff = Date.now() - dob.getTime();  
                var age_dt = new Date(month_diff);  
                var year = age_dt.getUTCFullYear();
                var age = Math.abs(year - 1970);  
                if (element == "hrd"){
                var valid_no_hp = validatePhoneNumber(no_hp);
                    if(nama==""){
                    return "nama tidak boleh kosong"
                    }
                    else if(email ==""){
                    return "email tidak boleh kosong"
                    }
                    else if (email.length < 1) {  
                    return "email tidak boleh 1 kata"
                    }
                    else if(jk==""){
                    return "jenis kelamin tidak boleh kosong"
                    }
                    else if(tgl_lahir==""){
                    return "taggal lahir tidak boleh kosong"
                    }
                    else if(age<=18){
                    return "umur tidak boleh dibawah 18 tahun"
                    }
                    else if(no_hp==""){
                    return "no hp tidak boleh kosong"
                    }
                    else if(valid_no_hp==false){
                        return "no hp tidak valid"
                    }
                    else if(alamat==""){
                        return "alamat tidak boleh kosong"
                    }
                    else{
                        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                        if(email.match(mailformat))
                        {
                            return true;
                        }else {
                            return "email tidak valid";
                        }
                       
                    }
                }
                else if (element == "karyawan"){
                var valid_no_hp = validatePhoneNumber(no_hp);
                    if(nama==""){
                    return "nama tidak boleh kosong"
                    }
                    else if(email ==""){
                    return "email tidak boleh kosong"
                    }
                    else if (email.length < 1) {  
                    return "email tidak boleh 1 kata"
                    }
                    else if(jk==""){
                    return "jenis kelamin tidak boleh kosong"
                    }
                    else if(tgl_lahir==""){
                    return "taggal lahir tidak boleh kosong"
                    }
                    else if(age<=18){
                    return "umur tidak boleh dibawah 18 tahun"
                    }
                    else if(no_hp==""){
                    return "no hp tidak boleh kosong"
                    }
                    else if(valid_no_hp==false){
                        return "no hp tidak valid"
                    }
                    else if(alamat==""){
                        return "alamat tidak boleh kosong"
                    }
                    else if(posisi==""){
                        return "posisi tidak boleh kosong"
                    }
                    else if(ruangan==""){
                        return "ruangan tidak boleh kosong"
                    }
                    else{
                        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                        if(email.match(mailformat))
                        {
                            return true;
                        }else {
                            return "email tidak valid";
                        }
                
                        return true
                    }
                }
                else if (element == "admin"){
                var valid_no_hp = validatePhoneNumber(no_hp);
                    if(nama==""){
                    return "nama tidak boleh kosong"
                    }
                    else if(email ==""){
                    return "email tidak boleh kosong"
                    }
                    else if (email.length < 1) {  
                    return "email tidak boleh 1 kata"
                    }
                    else if(jk==""){
                    return "jenis kelamin tidak boleh kosong"
                    }
                    else if(tgl_lahir==""){
                    return "taggal lahir tidak boleh kosong"
                    }
                    else if(age<=18){
                    return "umur tidak boleh dibawah 18 tahun"
                    }
                    else if(no_hp==""){
                    return "no hp tidak boleh kosong"
                    }
                    else if(valid_no_hp==false){
                        return "no hp tidak valid"
                    }
                    else if(alamat==""){
                        return "alamat tidak boleh kosong"
                    }
                    else{
                        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                        if(email.match(mailformat))
                        {
                            return true;
                        }else {
                            return "email tidak valid";
                        }  
                        return true
                    }
                }
                else if (element == "karu"){
                var valid_no_hp = validatePhoneNumber(no_hp);
                    if(nama==""){
                    return "nama tidak boleh kosong"
                    }
                    else if(email ==""){
                    return "email tidak boleh kosong"
                    }
                    else if (email.length < 1) {  
                    return "email tidak boleh 1 kata"
                    }
                    else if(jk==""){
                    return "jenis kelamin tidak boleh kosong"
                    }
                    else if(tgl_lahir==""){
                    return "taggal lahir tidak boleh kosong"
                    }
                    else if(age<=18){
                    return "umur tidak boleh dibawah 18 tahun"
                    }
                    else if(no_hp==""){
                    return "no hp tidak boleh kosong"
                    }
                    else if(valid_no_hp==false){
                        return "no hp tidak valid"
                    }
                    else if(alamat==""){
                        return "alamat tidak boleh kosong"
                    }
                    else if(ruangan==""){
                        return "ruangan tidak boleh kosong"
                    }
                    else{
                        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                        if(email.match(mailformat))
                        {
                            return true;
                        }else {
                            return "email tidak valid";
                        }  
                        return true
                    }
                }        
                else if (element == "shift"){
                    if(nama==""){
                    return "nama tidak boleh kosong"
                    }
                    else if(jam_berangkat==""){
                    return "jam berangkat tidak boleh kosong"
                    }
                    else if(jam_pulang==""){
                    return "jam pulang tidak boleh kosong"
                    }
                    else if(jam_kerja==""){
                    return "jam kerja tidak boleh kosong"
                    }
                    else{
                       
                        return true
                    }
                }
                else{
                    return false;
                }
            }
            function formsubmit(element) {
                var selectform= $("#form-" + element);
                console.log(selectform)
                console.log(element)
                var url = "/add/"+element;
                var valid = validate(element);
                console.log(valid);
                if (valid == true){
                    var formData = {
                    nama: selectform.find('#nama').val(),
                    email: selectform.find("#email").val(),
                    jk: selectform.find("#gender").val(),
                    tgl_lahir: selectform.find("#ttl").val(),
                    ruangan: selectform.find("#ruangan").val(),
                    posisi: selectform.find("#posisi").val(),
                    no_hp: selectform.find("#no_hp").val(),
                    jam_berangkat: selectform.find("#jam_berangkat").val(),
                    jam_pulang: selectform.find("#jam_pulang").val(),
                    jam_kerja: selectform.find("#jam_kerja").val(),
                    alamat: selectform.find("#alamat").val()
                };
                console.log(formData)
                axios.post(url, formData)
                    .then(function(response) {
                        console.log(response)
                        let data = response.data.data;
                        let meta = response.data.meta;
                        toastr.success(meta.message);
                    })
                    .catch(function(error) {
                        toastr.error('Gagal simpan data!');
                    });
                }
                else{
                   
                    toastr.error(valid);
                }
                
            }
    </script>
<script src="../../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="../../static/vendor/animsition/js/animsition.min.js"></script>
<script src="../../static/vendor/bootstrap/js/popper.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../../static/vendor/select2/select2.min.js"></script>
<script src="../../static/vendor/daterangepicker/moment.min.js"></script>
<script src="../../static/vendor/daterangepicker/daterangepicker.js"></script>
<script src="../../static/vendor/countdowntime/countdowntime.js"></script>
<script src="../../static/js/main.js"></script>

{% endblock %}