{% extends "dashboard/base.html" %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Edit Data</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">edit data {{init}}</li>
        </ol>
        mengedit data {{init}}
        <div class="row">
            <div class="card mb-4">
                <div class="card-body">
                {% for row in data %}
                    <form id="editform" class="login100-form validate-form p-l-55 p-r-55 p-t-10">
                        <label>NIP</label><br>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter nip">
                            <input class="input100" type="text" id="nip" placeholder="nip" value="{{row.0}}">
                            <span class="focus-input100"></span>
                        </div>
                        <label>Nama</label><br>
                        <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter nip">
                            <input class="input100" type="text" id="nama" value="{{row.1}}"><br>
                            <label>Email</label><br>

                            <input class="input100" id="email" type="email" value="{{row.2}}"><br>
                            <label>Jenis Kelamin</label><br>
                            <label><select id="gender" class="input100" value="{{row.3}}">
                                    {% if row.3=='L'%}
                                    <option class="input100" value="L" selected>Laki-Laki</option>
                                    <option class="input100" value="P">Perempuan</option>
                                    {% endif %}
                                    {% if row.3=='P'%}
                                    <option class="input100" value="L">Laki-Laki</option>
                                    <option class="input100" value="P" selected>Perempuan</option>
                                    {% endif %}
                                </select></label><br>
                            <label>Tanggal Lahir</label><br>
                            <input class="input100" id="tanggal_lahir" type="date" value="{{row.4}}"><br>
                            <label>Nomor Hp</label><br>
                            <input class="input100" id="no_hp" type="number" value="{{row.6}}"><br>
                            <label>Alamat</label><br>
                            <textarea class="input100" id="alamat">{{row.5}}</textarea><br>
                            <div class="container-login100-form-btn">
                                <button class="login100-form-btn" type="button" onclick="kirimedit()">
                                    Update
                                </button>
                            </div>
                    </form>
                {% endfor %}
                
            </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<script>
    async function kirimedit(){
        nip = "{{data[0][0]}}";
         nama= $('#nama').val();
        email= $('#email').val();
        gender= $('#gender').val();
        tanggal_lahir=$('#tanggal_lahir').val();
        no_hp=$('#no_hp').val();
        alamat= $('#alamat').html();
        url = "/edit/{{init}}/"+nip
        console.log(url,nama,email,gender,tanggal_lahir,no_hp,alamat)
       try {
                    const { data } = await axios({
                                method: 'put',
                                url: url,
                                data: {
                                    nama: nama,
                                    email: email,
                                    gender: gender,
                                    tanggal_lahir: tanggal_lahir,
                                    no_hp:no_hp,
                                    alamat: alamat
                                }
                            });
                                console.log(data);
                                } catch (err) {
                                    if (err.response.status === 404) {
                                        console.log('Resource could not be found!');
                                    } else {
                                        console.log(err.message);
                                    }
                                }
                            }

</script>
{% endblock %}