{% extends "dashboard/base.html" %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Jadwal</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Jadwal</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="background-color: #E6B794;">
                <i class="fas fa-table me-1"></i>
                Data Jadwal
            </div>
            <div class="card-body">
                <a href="/form/jadwal">
                    <button class="btn btn-primary bg-success" style="margin-bottom: 10px; margin-right: 10px;">add</button>
                    </a>
                <div class="dataTable-container" >
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">NO</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">NIP</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Nama</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Shift</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Ruangan</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Tanggal</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Aksi</a></th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for row in jadwal %}
                                <tr>
                                <td>{{ row.0 }}</td>
                                <td>{{ row.1 }}</td>
                                <td>{{ row.2 }}</td>
                                <td>{{ row.3 }}</td>
                                <td>{{ row.4 }}</td>
                                <td>{{ row.5 }}</td>
                                <td>
                                    <a href="/edit/jadwal/{{row.0}}">
                                        <button class="btn btn-warning bg-warning" style="margin-bottom: 10px; margin-right: 10px;">edit</button>
                                        </a>
                                            <button onclick="del('/delete/jadwal/{{row.0}}')" class="btn btn-danger bg-danger" style="margin-bottom: 10px; margin-right: 10px;">delete</button>
                                           
                                </td>
                            </tr>
                                {% else %}
                                <tr>
                                    <td colspan="5">Tidak Ada Data</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</main>
<script>
      function del(url) {
        Swal.fire({
            title: 'Are you sure?',
            text: `You won't be able to revert this!`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {

                axios.delete(url)
                    .then(function (response) {
                        console.log(response)
                        // handle success

                        Swal.fire(
                            'Deleted!',
                            'Your data has been deleted.',
                            'success'
                        )
                    })
                    .catch(function (error) {
                        console.log(error)
                        // handle error
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Something went wrong!'
                        })
                    })
                    .finally(function () {
                        // always executed
                        console.log("jln masuk ke axios get")
                    });

            }
        })
    }
</script>

{% endblock %}