{% extends "dashboard/base.html" %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Laporan Absensi</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Laporan Absen</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="background-color: #E6B794;">
                <i class="fas fa-table me-1"></i>
                Data Absensi
            </div>
            <div class="card-body">
                <div class="dataTable-top">
                    <div class="dataTable-dropdown"><label><select id="ruangan" onclick="RUANGAN()"
                                class="dataTable-selector">
                                {%for i in ruangan %}
                                <option value="{{i.0}}">{{i.0}}</option>
                                {%endfor%}
                                <option value="semua">Semua</option>
                            </select> pilih ruangan</label>
                    </div>
                    <div></div>
                </div>
                {%for ruang in ruangan %}
                <div id="{{ruang.0}}" class="dataTable-container" style="display:none">
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">NIP</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Nama</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Ruangan</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Shift</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Latitude</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Longitude</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Foto</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Tanggal</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Waktu</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Status</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for row in dataabsen %}
                                {% if row.3 == ruang.0 %}
                                <tr>
                                    <td>{{ row.1 }}</td>
                                    <td>{{ row.2 }}</td>
                                    <td>{{ row.3 }}</td>
                                    <td>{{ row.4 }}</td>
                                    <td>{{ row.5 }}</td>
                                    <td>{{ row.6 }}</td>
                                    <td><img src="../../static/assets/absen/{{ row.7 }}" width="100px" height="100px"></td>
                                    <td>{{ row.8 }}</td>
                                    <td>{{ row.9 }}</td>
                                {% if row.10=='tepat waktu'%}
                                <td style="color: green;">{{ row.10 }}</td>
                                {% endif %}
                                {% if row.10=='telat'%}
                                <td style="color: red;">{{ row.10 }}</td>
                                {% endif %}
                            </tr>
                                    {% endif %}
                                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
                <div id="semua" class="dataTable-container" style="display:none">
                    <table id="datatablesSimple" class="dataTable-table">
                        <thead>
                            <tr>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">NIP</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Nama</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Ruangan</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Shift</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Latitude</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Longitude</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Foto</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">tanggal</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Waktu</a></th>
                                <th data-sortable=""><a href="#" class="dataTable-sorter">Status</a></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                                {% for row in dataabsen %}
                                <tr>
                                    <td>{{ row.1 }}</td>
                                    <td>{{ row.2 }}</td>
                                    <td>{{ row.3 }}</td>
                                    <td>{{ row.4 }}</td>
                                    <td>{{ row.5 }}</td>
                                    <td>{{ row.6 }}</td>
                                    <td><img src="../../static/assets/absen/{{ row.7 }}" width="100px" height="100px"></td>
                                    <td>{{ row.8 }}</td>
                                    <td>{{ row.9 }}</td>
                                {% if row.10=='tepat waktu'%}
                                <td style="color: green;">{{ row.10 }}</td>
                                {% endif %}
                                {% if row.10=='telat'%}
                                <td style="color: red;">{{ row.10 }}</td>
                                {% endif %}
                                </tr>
                                    {% else %}
                                <tr>
                                    <td colspan="10">Tidak Ada Data</td>
                                </tr>
                                {% endfor %} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function RUANGAN() {
        let combo = document.getElementById("ruangan").value;
        var semua = document.getElementById("semua");
        var list_ruangan = '{{ruangan|tojson}}';
        list_ruangan= JSON.parse(list_ruangan);
        function tampilsemua(){
            if (combo == "semua") {
                semua.style.display = "block"
            }
        }
        function asyncFunction (item, cb) {
            setTimeout(() => {
                console.log('done with', item);
                var datatable = document.getElementById(item);
                console.log(combo)
                if (combo == item) {
                    datatable.style.display = "block";
                    semua.style.display = "none"
                    console.log("ketemu")
                }
                else {
                    datatable.style.display = "none"
                    semua.style.display = "none"

                }
                cb();
            }, 100);
            }
        let requests =  list_ruangan.map((item) => {
            return new Promise((resolve) => {
            asyncFunction(item, resolve);
            
            });
        })

        Promise.all(requests).then(() => tampilsemua());
    }
 
 
</script>

{% endblock %}




